<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.app.kim.order.service.OrderMapper">
	<resultMap type="shop.app.kim.order.model.Cart" id="CartResultMap">
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
		<result property="" column="" />
	</resultMap>
	<select id="getCart" resultType="shop.app.kim.order.model.Cart">
		SELECT * FROM TM_CART
	</select>
</mapper>