<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.kim.order.service.OrderMapper">
	<resultMap type="Order" id="CartResultMap">
		<result property="ono" column="O_NO" />
		<result property="uid" column="U_ID" />
		<result property="ototal" column="O_TOTAL" />
		<result property="odate" column="O_DATE" />
		<result property="ostatus" column="O_STATUS" />
	</resultMap>
	<select id="orderList" resultType="Order" resultMap="CartResultMap">
		SELECT * FROM TM_ORDER
	</select>
	<insert id="orderInsert"><!-- DB에 O_STATUS DEFAULT 값 설정 필요 -->
		INSERT INTO TM_ORDER VALUES(O_NO=#{order.ono},U_ID=#{order.uid},O_TOTAL=#{order.ototal},O_DATE=#{order.odate})
	</insert>
	<delete id="orderDelete">
		DELETE FROM TM_ORDER WHERE O_NO=#{ono}
	</delete>
</mapper>