<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.park.repository.ProductMapper">

	<resultMap type="Products" id="productResultMap">
		<result property="p_code" column="P_CODE" />
		<result property="p_name" column="P_NAME" />
		<result property="p_count" column="P_COUNT" />
		<result property="p_kind" column="P_KIND" />
		<result property="p_price" column="P_PRICE" />
		<result property="p_sellPrice" column="P_SELLPRICE" />
		<result property="p_profit" column="P_PROFIT" />
		<result property="p_content" column="P_CONTENT" />
		<result property="p_img" column="P_IMG" />
		<result property="p_date" column="P_DATE" />
	</resultMap>
	
	<insert id="insertProduct" parameterType="Products">
		INSERT INTO tm_product(p_code, p_name, p_count, p_kind, p_price, p_sellPrice, p_profit, p_content, p_img, p_date)
		VALUES(#{p_code}, #{p_name}, #{p_count}, #{p_kind}, #{p_price}, #{p_sellPrice}, #{p_profit}, #{p_content}, #{p_img}, DEFAULT)
	</insert>
	
	<update id="updateProduct" parameterType="Products">
		UPDATE tm_product SET p_name=#{p_name}, p_count=#{p_count}, p_kind=#{p_kind}, p_price=#{p_price}, 
		p_sellPrice=#{p_sellPrice}, p_profit=#{p_profit}, p_content=#{p_content}, p_img=#{p_img} WHERE p_code=#{p_code}
	</update>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM tm_product WHERE p_code=#{p_code}
	</delete>
	
	<select id="selectByProductCode" parameterType="String" resultMap="productResultMap">
		SELECT * FROM tm_product WHERE p_code=#{p_code}
	</select>
	
	<select id="selectByProductKind" parameterType="String" resultMap="productResultMap">
		SELECT * FROM tm_product WHERE p_kind=#{p_kind} ORDER BY p_code
	</select>
	
</mapper>