<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.park.repository.QnaMapper">
	
	<resultMap type="Qna" id="qnaResultMap">
		<result property="q_no" column="Q_NO"/>
		<result property="q_title" column="Q_TITLE"/>
		<result property="q_content" column="Q_CONTENT"/>
		<result property="u_id" column="U_ID"/>
		<result property="q_date" column="Q_DATE"/>
		<result property="q_reply" column="Q_REPLY"/>
	</resultMap>
	
	
	<!-- 관리자용  -->
	<select id="adminSelectAllQna" resultMap="qnaResultMap">
		SELECT * FROM tm_qna ORDER BY q_no DESC
	</select>
	
	<select id="selectAllQna" resultMap="qnaResultMap">
		SELECT * FROM tm_qna WHERE u_id=#{u_id} ORDER BY q_no DESC
	</select>
	
	<select id="selectByQnaNo" parameterType="long" resultMap="qnaResultMap">
		SELECT * FROM tm_qna WHERE q_no=#{q_no}
	</select>
	
	<select id="searchByQnaTitle" parameterType="String" resultMap="qnaResultMap">
		SELECT * FROM tm_qna WHERE q_title LIKE '%'||#{q_title}||'%'
	</select>
	
	<select id="selectByQnaReply" parameterType="String" resultMap="qnaResultMap">
		SELECT * FROM tm_qna WHERE q_reply=#{q_reply}
	</select>
	
	<insert id="insertQna" parameterType="Qna">
		INSERT INTO tm_qna VALUES(TM_QNA_SEQ.NEXTVAL, #{q_title}, #{q_content}, #{u_id}, 'n', DEFAULT)
	</insert>
	
	<update id="updateQna" parameterType="Qna">
		UPDATE tm_qna SET q_title=#{q_title}, q_content=#{q_content}, q_date=DEFAULT WHERE q_no=#{q_no}
	</update>
	
	<delete id="deleteQna" parameterType="long">
		DELETE tm_qna WHERE q_no=#{q_no}
	</delete>


	<!-- 관리자페이지용 -->
	<update id="updateQnaReply" parameterType="Qna">
		UPDATE tm_qna SET q_reply=#{q_reply} WHERE q_no=#{q_no}
	</update>

	
</mapper>