<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
 		 <typeAlias alias="Products" type="shop.park.model.Products"/>
  		 <typeAlias alias="Faq" type="shop.park.model.Faq"/>
  		 <typeAlias alias="Notice" type="shop.park.model.Notice"/>
		 <typeAlias alias="Qna" type="shop.park.model.Qna"/>
         <typeAlias alias="User" type="shop.kim.login.model.User"/>
 		 <typeAlias alias="Values" type="shop.kim.login.model.Values"/>
  		 <typeAlias alias="Cart" type="shop.kim.order.model.Cart"/>
  		 <typeAlias alias="Order" type="shop.kim.order.model.Order"/>
  		 <typeAlias alias="OrderDetail" type="shop.kim.order.model.Order_Detail"/>
  		 <typeAlias alias="Review" type="shop.son.review.model.Review"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="mybatis/mapper/noticeMapper.xml"/>
        <mapper resource="mybatis/mapper/productMapper.xml"/>
		<mapper resource="mybatis/mapper/faqMapper.xml"/>
		<mapper resource="mybatis/mapper/qnaMapper.xml"/>
        <mapper resource="mybatis/mapper/loginMapper.xml"/>
        <mapper resource="mybatis/mapper/cartMapper.xml"/>
        <mapper resource="mybatis/mapper/orderMapper.xml"/>
        <mapper resource="mybatis/mapper/reviewMapper.xml"/>
    </mappers>
</configuration>